.icon-text-group {
  display: flex;
  gap: 2rem;
}

.icon-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #080a0b;
  transition: color 0.3s ease;
  cursor: pointer;
}

.icon-block:hover {
  color: rgb(240, 161, 13); 
}

.icon-block i {
  font-size: 20px;
}
